.badge {
  --badge-size: 28px;
  --badge-padding: calc(var(--badge-size) * 0.08);
  --badge-offset: calc(var(--badge-size) * 0.14);
  position: absolute;
  display: flex;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  pointer-events: none;
  background: #0000002e;
  z-index: 9999;
}

.detailsBadge {
  --badge-size: clamp(32px, 2.8vw, 48px);
  z-index: 0;
  box-sizing: border-box;
  padding: calc(var(--badge-size) * 0.1);
  padding-bottom: 0;
}

.detailsBadgeWithButton {
  flex-direction: column;
  height: auto;
}

.detailsBadgeWithButton :global(svg.icon-badge) {
  width: var(--badge-size);
  height: var(--badge-size);
}

.libraryBadge {
  --badge-size: clamp(24px, 1.6vw, 32px);
  padding: var(--badge-padding);
  border-radius: 2px;
}

.libraryBadge :global(svg.icon-badge) {
  width: var(--badge-size);
  height: var(--badge-size);
}

.homeBadge {
  --badge-size: clamp(24px, 1.6vw, 32px);
  padding: var(--badge-padding);
  border-radius: 2px;
}

.homeBadge :global(svg.icon-badge) {
  width: var(--badge-size);
  height: var(--badge-size);
}

:global(.Panel)
  [role="listitem"]:first-of-type
  .homeBadge
  :global(svg.icon-badge) {
  width: clamp(32px, 2vw, 40px);
  height: clamp(32px, 2vw, 40px);
}

.searchBadge {
  --badge-size: clamp(20px, 1.4vw, 28px);
}

.searchBadge :global(svg.icon-badge) {
  width: var(--badge-size);
  height: var(--badge-size);
}

.nonsteam-badge-pulsing {
  animation: nonsteam-badge-pulse 2s infinite ease-in-out;
}

.top-left {
  top: var(--badge-offset);
  left: var(--badge-offset);
}

.top-right {
  top: var(--badge-offset);
  right: var(--badge-offset);
}

.bottom-left {
  bottom: var(--badge-offset);
  left: var(--badge-offset);
}

.bottom-right {
  bottom: var(--badge-offset);
  right: var(--badge-offset);
}

.details-top-left {
  flex-direction: row;
  gap: 5px;
  top: 45px;
  left: 20px;
}

.details-top-left :global(svg.icon-badge) {
  width: calc(var(--badge-size) * 0.875);
  height: calc(var(--badge-size) * 0.875);
}

.detailsBadgeWithButton.details-top-left :global(svg.icon-badge) {
  width: calc(var(--badge-size) * 0.67);
  height: calc(var(--badge-size) * 0.67);
}

.details-top-right {
  top: 55px;
  right: 20px;
  align-items: center;
}

.search-top-right {
  top: 10px;
  right: 5px;
}

@keyframes nonsteam-badge-pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.4;
  }
}
