.badge {
  position: absolute;
  display: flex;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  pointer-events: none;
  animation: nonsteam-badge-fade-in 0.3s cubic-bezier(0.2, 0, 0.2, 1) forwards;
  background: #0000002e;
  z-index: 9999;
}

.detailsBadge {
  z-index: 0;
  box-sizing: border-box;
  padding: 5px;
  padding-bottom: 0;
}

.detailsBadgeWithButton {
  flex-direction: column;
  height: auto;
}

.detailsBadgeWithButton :global(svg.icon-badge) {
  width: 48px;
  height: 48px;
}

.libraryBadge {
  padding: 2px;
  border-radius: 2px;
}

.libraryBadge :global(svg.icon-badge) {
  width: 28px;
  height: 28px;
}

.homeBadge {
  padding: 2px;
  border-radius: 2px;
}

.homeBadge :global(svg.icon-badge) {
  width: 32px;
  height: 32px;
}

.searchBadge :global(svg.icon-badge) {
  width: 28px;
  height: 28px;
}

.nonsteam-badge-pulsing {
  animation: nonsteam-badge-pulse 2s infinite ease-in-out;
}

.top-left {
  top: 4px;
  left: 4px;
}

.top-right {
  top: 4px;
  right: 4px;
}

.bottom-left {
  bottom: 4px;
  left: 4px;
}

.bottom-right {
  bottom: 4px;
  right: 4px;
}

.details-top-left {
  flex-direction: row;
  gap: 5px;
  top: 45px;
  left: 20px;
}

.details-top-left :global(svg.icon-badge) {
  width: 42px;
  height: 42px;
}

.detailsBadgeWithButton.details-top-left :global(svg.icon-badge) {
  width: 32px;
  height: 32px;
}

.details-top-right {
  top: 55px;
  right: 20px;
  align-items: center;
}

.search-top-right {
  top: 10px;
  right: 5px;
}

@keyframes nonsteam-badge-pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.4;
  }
}

@keyframes nonsteam-badge-fade-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
